<?xml version="1.0" encoding="UTF-8"?>
<!--
  ~ Tai-e: A Static Analysis Framework for Java
  ~
  ~ Copyright (C) 2020-- Tian Tan <tiantan@nju.edu.cn>
  ~ Copyright (C) 2020-- Yue Li <yueli@nju.edu.cn>
  ~ All rights reserved.
  ~
  ~ Tai-e is only for educational and academic purposes,
  ~ and any form of commercial use is disallowed.
  ~ Distribution of Tai-e is disallowed without the approval.
  -->

<Configuration status="WARN">
    <Appenders>
        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout pattern="%m%n"/>
        </Console>
    </Appenders>

    <Loggers>
        <Logger name="pascal.taie.analysis.pta.core.solver.PointerAnalysisImpl"
                level="error" additivity="false">
            <AppenderRef ref="Console"/>
        </Logger>

        <Root level="error">
            <AppenderRef ref="Console"/>
        </Root>
    </Loggers>
</Configuration>
